<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nelson.org.mapper.ProductMapper">
    <select id="findById" resultType="com.nelson.org.entity.Product" parameterType="long">
        select productId,productName,productDesc from product WHERE productId=#{id} ;
    </select>
    <select id="findAll" resultType="com.nelson.org.entity.Product">
        SELECT productId,productName,productDesc from product;
    </select>
    <insert id="create" parameterType="com.nelson.org.entity.Product">
        INSERT INTO product(productName,productDesc) VALUES (#{productName},database()) ;
    </insert>
</mapper>